[2013-08-23 14:54] briancline opened #67 "More details on implementing other ingestion/query protocols"
It appears the ingestion protocol layer is pluggable, but based on the quick mention of Thrift in the readme, the details mentioned in the readme around this assume quite a bit of existing working knowledge of BlueFlood internals.

To add a custom ingestion protocol, are these more or less the minimum pieces one must implement?

com.rackspacecloud.blueflood.inputs.handlers:
- MyProtocolMetricsInge

[2013-08-26 18:09] gdusbabek opened #68 "Explore bucketing rows"
There are several motivations for this:
1. Cassandra cache tunables after 1.0 are global--row and/or key caches are on everywhere or off everywhere.  If we wish to use row cache, we'll need to tend toward smaller rows.
2. Bucketed rows will allow BF to be a more viable alternative to high frequency signals. (The current design was conceived with a 30-second period in mind.)

[2013-09-03 16:42] lakshmi-kannan opened #81 "Supporting percentiles and histograms for numeric metrics in blueflood."
I am currently experimenting with some ideas for implementing histograms (and thereby percentiles) for numeric data. I'll update with details when I have more data.

[2013-09-04 00:56] fourk opened #82 "Add a configuration value for specifying the bind address for the HTTP Ingestor"
Currently it binds to 0.0.0.0 with no way of configuring it to bind elsewhere.

[2013-09-06 21:11] gdusbabek opened #87 "Refactor ShardStateWorker"
The main reason would be to simplify the boilerplate required to push/pull shard state.

One way to do this would be to refactor `StardStateWorker` by adding start/stop methods, then creating another class (`ShardStateServices`?) that has reference each to a push and pull worker that can be managed.

Then the boilerplate becomes simply:

`new ShardStateServices().start();`

[2013-09-26 17:47] lakshmi-kannan opened #98 "Perform batch writes for rollups"
Currently, rollups are written to disk one at a time. We should have a way to write rollups in batches. This would reduce the number of cassandra operations.

Things to keep in mind

1) Figure out the optimum batch size in terms of performance

2) Make sure that the slot state is marked as Rolled only after rollups are persisted on disk.

[2013-10-01 18:46] chinmay-gupte opened #103 "Kafka Performance Benchmarking"
Here we are documenting our findings on Kafka:

[2013-10-04 00:16] lakshmi-kannan opened #107 "Fix metadatacache not to load single meta from db at a time."

[2013-10-04 01:02] lakshmi-kannan opened #108 "We should have JMX exposures for controlling the Async pipeline for metrics ingestion"

[2013-10-04 01:03] lakshmi-kannan opened #109 "We need better instrumentation for the async pipeline to figure out bottlenecks"

[2013-10-21 16:25] gdusbabek opened #111 "Parent pom should contain set up for integration tests"
That way modules (e.g.: UDP) can have their own integration tests.

[2013-10-21 20:55] lakshmi-kannan opened #112 "Blueflood needs operations tool set"
1. Query database for metrics directly.
2. Tool to kick off rollups for a time period.

[2013-10-24 13:03] gdusbabek opened #115 "If a `RollupRunnable` fails in the woods and nobody is there to catch it, did it really fail?"
The answer is 'yes', but we have no way of knowing since `RollupRunnable` swallows all exceptions.

This makes it hard to test, among other things.

A good place to note the exception is the `RollupCpontext` object that gets attached to the runnable.

[2013-11-07 04:00] nwilkens opened #123 "Blob format"
I'm having trouble reading data directly from Cassandra (from Python).

cqlsh:DATA>  DESCRIBE KEYSPACE DATA;
....
CREATE TABLE metrics_5m (
  key text,
  column1 bigint,
  value blob,
  PRIMARY KEY (key, column1)
) WITH COMPACT STORAGE AND
  bloom_filter_fp_chance=0.010000 AND
  caching='KEYS_ONLY' AND
  comment='' AND
  dclocal_read_repair_chance=0.000000 AND
  gc_grace_seconds=864000 AND
  read_

[2013-11-15 19:24] #123 closed, assigned to nobody

[2013-11-15 19:29] #67 closed, assigned to nobody

[2013-11-15 19:36] #81 closed, assigned to nobody

[2013-11-15 23:06] #109 closed, assigned to nobody

[2013-11-15 23:52] #107 closed, assigned to nobody

[2013-11-20 23:05] dlobue opened #138 "Create wiki page on how to enable cassandra runner for integration tests when creating a new blueflood module"

[2013-11-26 01:04] lakshmi-kannan opened #149 "Split serializers into their own files."
https://github.com/rackerlabs/blueflood/pull/148/files

[2013-11-26 14:10] gdusbabek opened #150 "Class that manages schema"
We need a class that verifies and updates schema on startup.  It could start out simple, but we'd want to end up with something that:
- Works across versions of Cassandra, beginning with 1.1
- Allows schema to be injected by other modules but protects core parts of the schema.

[2013-12-03 23:27] #115 closed, assigned to nobody

[2013-12-05 00:43] fourk opened #163 "refactor rollup read/write logic"
It's gotten pretty complicated with the latest sets of changes (pre-aggregated metrics support, rollup write batching)

[code]

While we're at it, it might make sense to find a way to do batch reads of metrics when doing rollups. We could see performance gains there.

One potential optimization could be to redo the way we shard locators by using  org.apache.cassandra.dht.RandomPartitioner, that wa

[2013-12-09 23:35] #98 closed, assigned to nobody

[2013-12-09 23:41] #103 closed, assigned to chinmay-gupte

[2013-12-11 18:00] gdusbabek opened #169 "Repleace all the ColumnFamilyMapper instances with a single thing"
We currently use a separate instance each for normal metrics, preaggregated metrics, and histograms.

There must be a clean way to do this with a single interface.

[2013-12-12 19:18] chinmay-gupte opened #172 "Add support for other Rollups like Histogram/Timer/Counter to the Kafka Serializer"
Currently the Kafka Serializer takes into consideration only the BasicRollup and puts the type of metric as `numeric` in the serialized data. But we want to add support for serializing other Rollup types like Histogram/Timer/Counter. In short, make the Kafka Serializer generic.

[2013-12-17 18:28] #82 closed, assigned to nobody

[2013-12-19 14:07] gdusbabek opened #186 "NumericSerializer.typeOf should not throw an exception"
Instead it should return a type that indicates invalidity. `Type.INVALID` or something.

[2013-12-20 19:21] #169 closed, assigned to nobody

[2014-01-13 23:31] #172 closed, assigned to nobody

[2014-01-13 23:35] #111 closed, assigned to nobody

[2014-01-15 23:55] fourk opened #208 "Have a way of tracking intervals of raw data"
This would replace GET_BY_POINTS_ASSUME_INTERVAL and make GetByPoints queries return a number of points closer to the requested amount in cases where data is sent at an interval that does not match GET_BY_POINTS_ASSUME_INTERVAL.

[2014-01-23 14:38] gdusbabek opened #223 "replaces usage of Writer.insertFull with Writer.insertMetrics"
This will require a bit of refactoring to properly support strings/booleans in a single method.

[2014-01-24 23:03] gdusbabek opened #225 "Have a class that checks schema on startup"
and creates column families if they are not present.

[2014-01-27 23:35] fourk opened #226 "BufferedMetrics counter broken for Http Ingestor"
The counter never gets incremented, only decremented.

Counter can be found in HttpMetricsIngestionServer.java:65

[2014-01-28 15:04] #225 closed, assigned to nobody

[2014-01-28 18:50] gdusbabek opened #229 "Fix == vs != bug in BasicRollup"
https://github.com/rackerlabs/blueflood/blob/master/blueflood-core/src/main/java/com/rackspacecloud/blueflood/types/BasicRollup.java#L205

Include a test case in the fix.

[2014-01-29 16:45] #229 closed, assigned to nobody

[2014-01-29 19:50] gdusbabek opened #235 "Improvement: reader to support new types and simplified read path."
From IRC:

<lakspace> 1. Batch reader should support new types
<lakspace> 2. Eliminate single read methods
<lakspace> 3. Eliminate scan all CFs.

[2014-02-06 00:18] chinmay-gupte opened #242 "Prevent CounterRollup from taking non-integer count"
CounterRollup can be built with passing a double/floating value. Prevent this from happening and throw an error when someone tries to build it using a non-integer value.

[2014-02-18 16:59] gdusbabek opened #254 "We're using netty 3 but depending on netty 4."
astyanax-cassandra requires netty 3.

When our web services were initially created, the netty 3 classes were inadvertently used.

We need to fix this, but it's going to require some refactoring, as the HttpRequest/Response API changed a good bit between 3 and 4.

[2014-02-26 00:44] chinmay-gupte opened #264 "InstrumentedThreadPoolExecutor should expose better parameters"
Currently `InstrumentedThreadPoolExecutor` exposes only the queue size, but it would be super helpful to have other parameters like active thread count being exposed as well.

[2014-03-17 19:28] fourk opened #275 "Need integration test to validate that RollupEventHandler is being called properly"
No test validates this today.

[2014-03-31 17:38] #254 closed, assigned to chinmay-gupte

[2014-06-25 17:34] ssabnis opened #329 "Using blueflood in private cloud/on premise"
Blue Flood is very interesting. I am currently using Cyanite. I am interested to know whether blue flood only works on rackspace, or I can use it in on premise/private cloud setup environments?

Thanks in advance

[2014-07-22 22:16] gdusbabek opened #340 "Consider a separate code path for string metrics during ingestion."
We currently keep them intermingled with normal metrics until the end of the async chain. Consider splitting them out for separate processing earlier.

Or getting rid of async stuff.

[2014-08-13 18:22] gdusbabek opened #358 "Update python scripts to reflect new endpoint URIs"
https://github.com/rackerlabs/blueflood/blob/master/demo/ingest.py and https://github.com/rackerlabs/blueflood/blob/master/demo/retrieve.py need to use the v2.0 endpoints.

This will also require an update to the 10 minute guide to where the output from these scripts is used.

[2014-10-22 22:28] jeeyoungk opened #380 "Startup time is too slow when zookeeper is enabled."
I had 3 blueflood rollup servers deployed, shard space initially split into 3 regions. I decided to use zookeeper clustering.

I realized that Blueflood startup time became very slow as soon as I enabled the Zookeeper clustering. (my deployment environment has health check of the form "if the given ports doesn't open within N seconds, consider the deploy to be failed".)

I enabled the `DEBUG` log,

[2014-11-11 20:42] jeeyoungk opened #397 "Enable Findbugs / checkstyle check for blueflood"
This will allow us to maintain higher quality code & style, allowing more people to contribute to project.

[2014-11-11 22:46] #149 closed, assigned to nobody

[2015-02-09 13:34] thedrow opened #437 "Documentation is incomplete"
Documentation is the most important feature in an open source project.
It's impossible to use this as it is.

[2015-02-09 14:43] stanzikratel commented on #437
@thedrow Please let us know your feedback. I've been working with the team on updating the docs and would be happy to incorporate any feedback you have

[2015-02-09 16:36] thedrow commented on #437
The documentation is pretty much empty https://github.com/rackerlabs/blueflood/wiki/Query
https://github.com/rackerlabs/blueflood/wiki/Ingestion

[2015-02-09 17:45] stanzikratel commented on #437
We have released documentation for the Rackspace-specific version of Blueflood, called Cloud Metrics. This may help you: http://docs.rackspace.com/cmet/api/v1.0/cmet-gettingstarted/content/doc-change-history.html
http://docs.rackspace.com/cmet/api/v1.0/cmet-devguide/content/Overview.html

Please feel free to send me any feedback about these docs

[2015-02-20 19:48] nicholaskuechler opened #441 "Request: Graphite backend"
I see there's a statsd backend which is awesome. Requesting a graphite backend so that I can set my carbon-relay to stream metrics to bluefood in the same way we can stream to blueflood-statsd.

Would really allow us (and I'm sure many others) to hook in to blueflood much easier.

We have too many metrics going to graphite (not via statsd) right now that switching to blueflood is going to be super

[2015-04-28 21:13] ebereketoglu opened #457 "Grafana support"
Is there any progress for the Grafana integration?

[2015-04-29 16:56] #457 closed

[2015-04-29 18:42] ebereketoglu opened #458 "Build error on Ubuntu 14.04"
Hi,

I followed the 10 minute guide to build Blueflood from the sources, but I got the following errors.

[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-assembly-plugin:2.4:single (make-assembly) on project blueflood-all: Execution make-assembly of goal org.apache.maven.plugins:maven-assembly-plugin:2.4:

[2015-04-29 19:47] pkit commented on #458
A bug in Ubuntu 14.x maven packages, workaround:

    cd /usr/share/maven/lib
    sudo ln -s ../../java/commons-lang.jar .

[2015-04-29 20:06] ebereketoglu commented on #458
it works, thank you.

[2015-04-29 20:06] #458 closed

[2015-04-29 20:25] ebereketoglu opened #459 "Zookeeper error when run Blueflood"
I am trying to run blueflood-all.jar with the following configurations

log4j.properties:
[code]
[code]

But I am getting these errors:
[code]

[2015-04-29 20:44] pkit commented on #459
Define the appender?

    log4j.appender.console=org.apache.log4j.ConsoleAppender

[2015-04-29 21:26] ebereketoglu commented on #459
Thanks, I defined the appender and this error has been solved but at this time I am getting Zookeeper error.

[code]

[2015-04-29 21:31] pkit commented on #459
As you can see it's "Connection refused" to "127.0.0.1:22181"
Probably zookeeper is not running.

[2015-04-29 21:40] GeorgeJahad commented on #459
From the 10 minute guide:
https://github.com/rackerlabs/blueflood/wiki/10minuteguide
 "It is recommended to set to NONE until you need Zookeeper to coordinate rollup slaves."

[2015-04-29 21:41] GeorgeJahad commented on #459
Sorry the complete quote is:
ZOO_KEEPER_CLUSTER: A comma delimited list of host:port tuples. It is recommended to set to NONE until you need Zookeeper to coordinate rollup slaves.

[2015-04-29 21:42] ebereketoglu commented on #459
Yes, I have missed that part, thank you.

[2015-04-29 21:42] #459 closed

[2015-05-05 18:02] stackedsax commented on #441
Hey Nick,

I know you already know this, but we have a carbon-relay that we're working on:

https://github.com/rackerlabs/graphite-http-wrapper

It will be single-tenant at the moment, but should be a good way for people who already employ graphite to simply push their data into Blueflood.

[2015-05-07 13:37] nicholaskuechler commented on #441
Following up: We've tested the graphite-http-wrapper and it works great!

Our graphite node is relaying metrics to a graphite-http-wrapper node, which then injects them in to blueflood. We can then see our metrics in blueflood via grafana. Everything's working very well for our needs. Thanks so much!

From my perspective, I think we can close out this issue, unless you still need it open on your s

[2015-05-07 23:21] stackedsax commented on #441
Sounds great!  I'll close this issue for now.

[2015-05-07 23:21] #441 closed

[2015-05-26 15:13] johnrees opened #467 "change ZOO_KEEPER_CLUSTER key in 10 min guide"
If I'm not mistaken, `ZOO_KEEPER_CLUSTER` should be `ZOOKEEPER_CLUSTER`

on this page https://github.com/rackerlabs/blueflood/wiki/10MinuteGuide

[2015-05-26 16:54] GeorgeJahad commented on #467
Fixed.  Thanks!

[2015-05-26 16:54] #467 closed

[2015-08-14 14:57] menchauser opened #504 "Compatibility with Java 8"
Are there any plans to make BlueFlood ready for Java 8? The main reason for that decision could be that Java 7 [is not supported since April 2015](https://www.java.com/en/download/faq/java_7.xml).
Currently it is impossible to build BlueFlood with JDK 8 because of the **blueflood-core** module's failing test:

[code]

Also BlueFlood built with JDK 7 throws an exception during start under JVM 8:

[

[2015-08-14 17:03] #138 closed

[2015-08-14 17:03] GeorgeJahad commented on #138
not even sure exactly what this means

[2015-08-22 02:53] lakshmi-kannan opened #509 "Elastic search indexing search queries returning empty list."

[2015-08-22 14:41] rfyiamcool opened #510 "You can use another database ？"
You can use another database ?  I want use hbase or Elasticsearch to save monitor data .

[2015-08-23 01:33] gdusbabek commented on #510
No. Not at this time. Astyanax internals, thus Cassandra internals are all over the place.

[2015-08-24 05:51] tilogaat commented on #509
@lakshmi-kannan the events index is introduced newly for storing annotations. If you use the same ElasticIO module for Discovery Modules as follows, things should work as before.
[code]

[2015-10-10 07:51] atlanssia commented on #504
* About the failing test:  As of BluefloodSetRollup.class use HashSet which does not guarantee that the order will remain constant over time, I skipped this test case in our project.

* About InstrumentationMBean: I declared this interface in a new file named `InstrumentationMBean.java`

hope it helpful

[2015-10-15 09:31] EricYT opened #536 "demo Dockerfile was out of time"
Is there a new Dockerfile to build a container contains blueflood?Thanks.

[2015-10-19 18:23] #510 closed

[2015-10-20 15:56] drenalin23 commented on #536
Hi -
We don't have an updated one at the moment - can you provide more information about any issues you had with the current Dockerfile in the repo?  I don't understand what your problem is.

[2015-11-25 15:23] hoomanv opened #562 "Loading the schema into cassandra fails"
I just cloned the blueflood git repo and built the project.
Then I tried to import the schema into cassandra (2.0.16) (also tried on 2.2.3)

Here's the command that I used

But it failed

/blueflood/src/cassandra/cli/load.script:4:Bad Request: Failed parsing statement: [CREATE KEYSPACE DATA
    WITH placement_strategy = 'org.apache.cassandra.locator.SimpleStrategy'
    AND strategy_options = {repl

[2015-11-25 15:35] hoomanv commented on #562
I had to use cassandra-cli not cqlsh.
My mistake

[2015-11-25 15:35] #562 closed

[2015-12-01 21:38] mattalline commented on #509
@tilogaat @lakshmi-kannan I'm noticing the same thing as described. I don't have anything custom as I was just running through the `10minuteguide` and came across this. Upon inspecting /demo/local/config/blueflood.conf the `DISCOVERY_MODULES` line is what is listed in the above comment. I can still re-create the issue.

I have done my testing through Vagrant/VirtualBox. You will find the linked gi

[2015-12-22 09:43] esala116 opened #580 "bf-rollups-delay.py support new version of Cassandra with CQL 1.4.0"
status error An attempt was made to connect to each of the servers twice, but none of the attempts succeeded. The last failure was TTransportException: Could not connect to 192.168.1.1:9160
Traceback (most recent call last):
  File "blueflood-rollup-delay.py", line 139, in <module>
    main(sys.argv[1])
  File "blueflood-rollup-delay.py", line 136, in main
    raise ex
pycassa.pool.AllServersUnava

[2015-12-26 22:59] stackedsax commented on #504
@menchauser yes, we've been working to update everything to work with Java 8.  @shintasmith was looking into the tests, specifically.

@atlanssia would you like to submit a PR for the IntstrumentationMBean.java problem?

[2015-12-26 23:03] stackedsax commented on #536
@EricYT try this PR out for the newer Docker stuff:
   * PR: https://github.com/rackerlabs/blueflood/pull/558
   * branch: https://github.com/rackerlabs/blueflood/tree/goru97/docker

@goru97 was working on updating the Docker bits.

[2015-12-26 23:18] stackedsax commented on #509
Hey there @mattalline, @lakshmi-kannan.  Still having troubles?

If so, can you try the most recent release rather than running from head on master?  I'm running the same configuration as you, @lakshmi-kannan, except that I'm grabbing the latest release with:

[code]

It seems to work fine for me.  I'll try running the same thing from head when I get back later today and see if I run into the same

[2016-01-07 14:46] shintasmith commented on #504
@atlanssia that IMetricSerializerTest compare error should be fixed in this PR: https://github.com/rackerlabs/blueflood/pull/553 . I did run Blueflood built with JDK 1.8, was able to do simple ingest and query.

[2016-01-30 01:57] ksheedlo opened #607 "Paginate results from /metrics/search"
I develop Rackspace Intelligence, which uses Blueflood extensively via Rackspace Monitoring and Cloud Metrics. I've been debugging a performance problem where we need to find a device that generates metrics so we can display it on a particular graph page, not knowing which device it will be ahead of time.

Currently we call an API in Rackspace Monitoring that delegates to Metrics (which is Blueflo

[2016-02-05 18:30] uhoh-itsmaciek opened #619 "Error in running tests on Ubuntu"
I get an error under both Java 7 and Java 8 when running `mvn test` in Ubuntu 15.04:

[code]

My Java versions:

[code]

and

[code]

[2016-02-05 20:00] #619 closed

[2016-03-01 23:29] creationix opened #638 "JSON parser fails on single items."
If I send the following sample data to blueflood, it works fine:

[code]

But if I send a single item, it fails with a `400` response saying `Cannot parse content`.

[code]

If I add a trailing comma after the first item, it succeeds.

[code]

This is not an acceptable workaround since this is invalid JSON and I would have to manually construct the string instead of using normal JSON encoding libr

[2016-03-01 23:55] creationix commented on #638
Hold on a second.  I'm not 100% sure this is the problem.  We're getting inconsistent results in further testing.  Will report back if the problem is indeed on blueflood side.

[2016-03-01 23:55] #638 closed

[2016-03-02 00:10] creationix commented on #638
So this was a series of several problems and multiple mistakes all having the exact same symptoms.

While not required, it would be really nice if the JSON parser would give a more meaningful error message when it fails.  We had everything from stray text to unexpected fields to wrong endpoint urls to invalid content-type and content-encoding headers all with the exact same 400 and `Cannot parse c

[2016-03-02 15:38] shintasmith commented on #638
Hi @creationix , as it turns out, we did create a story to better handle validation. We will probably tackle it next sprint. Thanks!

[2016-03-02 18:16] creationix commented on #638
Awesome!

[2016-03-11 19:41] #329 closed

[2016-03-25 17:51] stackedsax commented on #536
@EricYT -- just checking to see if this worked for you.  I'll close this issue soon.

[2016-04-05 13:18] meker12 commented on #437
Cloud Metrics docs have moved here:  https://developer.rackspace.com/docs/metrics/v2/developer-guide/

If you have questions or issues, click "Submit an issue" in the navigation bar to submit them.

[2016-04-05 13:18] #437 closed

[2016-04-14 11:47] timothyarnold1983 opened #668 "CQL Version mismatch in docker"
Good afternoon
(I'm not an expert in well, anything so apologies for the terminology)

Ive just deployed a new test installation in docker following the 10 minute guide and everything started, however a 500 Error when attempting to insert data.

Looking through it appears that the "keyspace data" didn't exist. Logging into the cassandra servers and found that the keyspace didn't exist.

Tried to l

[2016-04-14 13:59] shintasmith commented on #668
Hi, @timothyarnold1983,
Thanks for bringing this up to us. We will look into it and either fix the documentation or the docker image.

Thanks,
-shinta

[2016-04-22 17:48] goru97 opened #684 "No new release since January 1."
Rackspace Metrics team has introduced quite a few features like Enums but there is no official release since Jan 1.

[2016-05-25 05:17] goru97 commented on #668
@timothyarnold1983 This issue is fixed in https://github.com/rackerlabs/blueflood/pull/695

[2016-06-25 07:44] baolinCloud opened #710 "[Blueflood 2.0.0] Exceeded timeout 5 SECONDS before persisting all metrics for batch 289858 [com.rackspacecloud.blueflood.inputs.processors.BatchWriter$1.call(BatchWriter.java:119)]"
Hello , I met the problem:

Blueflood ingest or query sometimes error.
 And I use "top" to see the status of blueflood node, sometimes 700%(8U) .

Use 'netstat -anp | grep 19000 | grep CLOSE_WAIT | wc -l' , sometimes more than 2000 counts.

And the blueflood log show that, " Exceeded timeout 5 SECONDS before persisting all metrics for batch 289858  [com.rackspacecloud.blueflood.inputs.processors.B

[2016-06-27 14:27] shintasmith commented on #710
@baolinCloud , which commit of blueflood were you running on? What is the size of your Cassandra cluster? Are you running Ingest on the same node as Rollup and Query? What is your config look like?

The error message "Exceeded timeout" is misleading because it's actually not an error. In the newer version of blueflood, we have changed this to INFO. It just means your BatchWriter is taking more tha

[2016-06-28 03:40] baolinCloud commented on #710
@shintasmith ,

The version of blueflood is 2.0.0.

There are 9 cassandra nodes , each size is 24U48G. And I use 6 blueflood, 2 bf used to ingest, 4 used to rollup, all of the 6 nodes used to query.

why blueflood CLOSE_WAIT so frequently?

[2016-06-28 16:01] shintasmith commented on #710
@baolinCloud , if you are referring to the 2.0.0-SNAPSHOT version in our pom.xml file, we don't increment that. We use commit SHA and release versions listed here:
https://github.com/rackerlabs/blueflood/releases

So which version or commit SHA of Blueflood are you using?

Also what JDK version (pls include the build number) are you using?

As for the CLOSE_WAIT, I will do some digging. We have se

[2016-09-21 23:00] mburns commented on #684
can this be closed? https://github.com/rackerlabs/blueflood/releases/tag/rax-release-v1.0.2915

[2016-09-22 14:23] #684 closed

[2016-10-26 22:16] ViswanathSRIRAM opened #748 "Blueflood rollups issue"
Hi Team,

We observed that we are missing roll up data in our test environment. Further digging led to below conclusion. Want to share this to validate my findings.

Few things about our environment: We ingest data every 10 sec and the default TTL is set to 2 days.

The metrics were missing in metrics_locator so the corresponding rollups were not  happening.

My observation of this behavior:

_**A

[2016-10-26 22:21] ChandraAddala commented on #748
@ViswanathSRIRAM  Thx for creating this issue. We will take a look and get back to you.

[2016-10-27 12:43] 42701618 opened #749 "cpu to 369% in ingetst server"
The version of My blueflood is blueflood-rax-release-v1.0.1956. My blueflood is used for ingestion.I am ingest the data to the ingestion server all the time.Suddenly,the cpu is to  369%.My computer is 2494 MHz, 4 cpu cores,mem is 16G.
The log is following:
java.lang.OutOfMemoryError: GC overhead limit exceeded
Dumping heap to ./logs ...
Heap dump file created [1258805223 bytes in 7.382 secs]
Excep

[2016-10-27 12:53] usnavi commented on #749
Hi!  Just to clarify, what is your jvm heap size set to?  For our install, we are using -Xms16G -Xmx16G.

[2016-10-27 13:01] 42701618 commented on #749
my jvm heap size is -Xms1G  -Xmx1G

[2016-10-27 13:14] usnavi commented on #749
Welp, that's most likely your issue.  You should raise your max heap size.

When the heap gets filled, the jvm has to stop its processing to attempt to remove any unused objects from the heap--and that takes CPU.  If your heap is too small for your application, your jvm will fill up and spend a lot of time clearing the heap.  Most likely it will get behind and then you'll get an OutOfMemoryError.

[2016-10-27 13:21] 42701618 commented on #749
Ok ,Thank you very much,I change the  heap size to 8G.Then I test it again and trace the problem.

[2016-10-27 13:23] usnavi commented on #749
Are you still seeing the problem?  I'm not sure what you mean by "trace the problem".

[2016-10-27 13:36] 42701618 commented on #749
sorry,I mean that  I will take a look after  change the heap size to 8G and then  get back to you.

[2016-10-28 01:36] 42701618 commented on #749
hi,usnaavi:
After running the all night,the memory is from 2.9% to 54%.During the time ,I am ingesting data ,about 3920 request per second.maybe there are problems in some code  ?

[2016-10-28 04:59] drenalin23 commented on #749
@42701618  - In general on a Linux system your memory usage will go up over time due to Linux caching.  In our production environment we have a few ingestion nodes and looking at one of them it is sitting at 99% memory used (running for quite some time), blueflood is using about 50% of the memory on a prod node we run.  This is a node with 32G of memory and heap set at 16G.  This server is handlin

[2016-10-28 05:07] drenalin23 commented on #749
Numbers can be sliced many ways of course - on a 20 core system each core is doing about 10-15% based on our metrics - so while top shows 200-300% cpu usage, the system isn't actually that loaded up when viewed by per core usage.  With a back of the envelope calculation you are ingesting about 20% of what we are on a node and have 20% of the cores so your ingest node should probably be able to han

[2016-10-28 16:16] ViswanathSRIRAM commented on #748
Sure Chandra.. Let me know if you have any questions in understanding.. I can comment or we can have a separate discussion.

[2016-11-01 20:07] ChandraAddala commented on #748
@ViswanathSRIRAM Thanks for the detailed write up. I was able to look into the issue. I submitted the below PR to take care of the issue you had identified.

https://github.com/rackerlabs/blueflood/pull/750

As you can notice from the above PR, I am using a combination of `expireAfterAccess` and `expireAfterWrite` which I think would address all the scenarios. Pls let me know what you think.

[2016-11-15 08:27] 42701618 commented on #710
Hi
I have been having the same issue in  v1.0.1956  :
1.Using 14 jmeter(apache-jmeter-3.0) to request blueflood , every jmeter every time send 184 requests and send 10 time in one minute
2.The request to blueflood is "/v2.0/${tenant_id}/ingest"
3.Soon,there are 5000+ close_wait in blueflood server,with  netstat -anp |grep CLOSE_WAIT|wc -l

[2016-11-15 11:28] 42701618 opened #752 "why is the value of 5m-Re-rolling-up greate than 0?"
Hi team:
1.if the value that hitcount(*.com.rackspacecloud.blueflood.service.RollupService.5m-Re-rolling-up-because-of-delayed-metrics.m1_rate,"1min")  is greate than 0,what does the mean?
2.How do I following the question in the code?

thanks

[2016-11-15 13:11] 42701618 commented on #752
In ShardStateManager.java,  granToDelayedMetricsMeter  tracks the Delayed Metrics?

[2016-11-15 14:35] shintasmith commented on #710
Hi, @42701618 , is it possible for you to try the newer version v1.0.2981 ? We upgraded our netty package recently. It might help with this issue.

[2016-11-15 16:30] ChandraAddala commented on #752
If `hitcount(*.com.rackspacecloud.blueflood.service.RollupService.5m-Re-rolling-up-because-of-delayed-metrics.m1_rate,"1min")`, it means that a slot is being re-rolled because of delayed metrics.

`granToDelayedMetricsMeter` is probably a poorly named variable. It only tracks delayed metrics which are close to TTL'ing. Any metric which is delayed by more than a day is considered close to TTLing.

[2016-11-16 02:00] 42701618 commented on #752
Hi ChandraAddala :
  which  couple of meters?Could you expain that?
Thank you very much.

[2016-11-16 02:48] ChandraAddala commented on #752
I added a link in my previous reply. But here they are.

https://github.com/rackerlabs/blueflood/blob/master/blueflood-core/src/main/java/com/rackspacecloud/blueflood/io/Instrumentation.java#L63

[2016-11-16 03:01] 42701618 commented on #710
OK,I compare the netty package and find that there are difference between  v1.0.2981 and v1.0.1956 .So I will have a try for newer version v1.0.2981 .
Thank you very much.

[2016-11-17 11:41] 42701618 commented on #752
Hi ChandraAddala :
If  a slot is re-rolled one time or twice in a short time,that is whether normal or not?

Thank you very much.

[2016-11-17 16:32] ChandraAddala commented on #752
When blueflood receives a a metric corresponding to a slot, the slot gets rolled up after ROLLUP_DELAY_MILLIS.

Lets say the same slot received delayed metric with smaller delay, the slots gets re-rolled after SHORT_DELAY_METRICS_ROLLUP_DELAY_MILLIS,

Let say the same slot gets a delayed metric with a longer delay(delay greater than SHORT_DELAY_METRICS_ROLLUP_DELAY_MILLIS), it waits for LONG_DELAY

[2016-11-17 19:19] #748 closed

[2016-11-18 08:57] 42701618 commented on #752
ChandraAddala ,thank you very much

[2016-11-18 08:57] #752 closed

[2016-11-18 21:45] ViswanathSRIRAM commented on #748
@ChandraAddala Apologies for the delay. Thanks for fixing this. Yes the change looks perfectly fine.

[2016-11-24 07:10] 42701618 opened #756 "some questions about CoreConfig.java"
Hi team,
what should I  set  the value of MAX_LOCATOR_FETCH_THREADS,MAX_ROLLUP_READ_THREADS,MAX_ROLLUP_WRITE_THREADS.
Are the default  a little lower.

[2016-11-24 22:11] ChandraAddala commented on #756
For a 54 node cassandra cluster with 8 rollup nodes, we use the following configurations. We have around 120K locators per shard.

MAX_LOCATOR_FETCH_THREADS=30
MAX_ROLLUP_READ_THREADS=300
MAX_ROLLUP_WRITE_THREADS=30

[2016-11-28 03:11] 42701618 commented on #756
hi ChandraAddala
And what about MAX_CASSANDRA_CONNECTIONS?
thanks

[2016-11-28 17:45] ChandraAddala commented on #756
We have 6 ingest nodes, 8 rollup nodes, 2 query nodes and 54 cassandra nodes. So basically a rollup node only does rollups.

Ingest: MAX_CASSANDRA_CONNECTIONS=480
Rollup: MAX_CASSANDRA_CONNECTIONS=1536
Query: MAX_CASSANDRA_CONNECTIONS=480

Here are the JVM configurations we use in prod. We recently upgraded to Java 8 and I dont know how many of these are still relevant with java 8. We have to revi

[2016-11-29 02:07] 42701618 commented on #756
What is the configuration of your cassandra about cpu ,memory and so on?

[2016-11-29 03:07] 42701618 commented on #756
hi ChandraAddala ,
How many are the cassandra for one rollup blueflood?
thx

[2016-11-30 22:33] ChandraAddala commented on #756
For cassandra nodes, we use bare metal servers with the below configurations

CPU	Dual 2.8 Ghz, 10 core
RAM  128 GB

The 54 node cluster is used by ingest, rollup, query nodes.

[2016-12-05 11:22] 42701618 opened #762 "about delaying rollup"
Hi team:
If the data of metric_5m is delaying when rollup,How should I find the delaying data accurately?
Thanks

[2016-12-05 21:00] ChandraAddala commented on #762
There are couple of ways to know.

1) Using JMX we can enable Tracking which will print delayed metrics in the logs. Blueflood does support [jolokia](https://jolokia.org/index.html). All you have to do is download jolokia jvm agent(Ex:jolokia-jvm-1.3.5-agent.jar) and when starting up blueflood, pass these jvm parameters.

[code]

If you hit the below url it will enable tracking. you should see a l

[2016-12-06 09:28] 42701618 commented on #762
Hi ChandraAddala :
For  method 1 :  I can setIsTrackingDelayedMetrics,But I don't know how to add the tenant which is monitored.
In my server,the  column1 of one data in metric_5m  is unchanging from this monday. The blueflood is running smoothly.I cann't find the root cause of this case.
Thanks.

[2016-12-06 14:12] ChandraAddala commented on #762
You can add a tenant like this.

[code]

I dont think I understand the issue very clearly. So you have a metric which is not being rolled in metrics_5m granularity? Did you check if there is data in metrics_full for that locator during the 5m time period which you believe it was not being rolled?

[2016-12-07 02:16] 42701618 commented on #762
I double check  there is data in metrics_full for that locator during the 5m time period .
E.X:
 In metric_full,the time is Mon Dec 05 2016 17:04:47 GMT+0800 (CST),
Mon Dec 05 2016 16:59:47 GMT+0800 (CST)
Mon Dec 05 2016 16:53:32 GMT+0800 (CST)
Mon Dec 05 2016 16:47:51 GMT+0800 (CST)
 Mon Dec 05 2016 16:42:40 GMT+0800 (CST)
......

and in metric_5m,the last time has been still Sat Dec 03 2016 16:3

[2016-12-07 04:30] ChandraAddala commented on #762
Can you see if the locator is in metrics_locator column family?

You can compute the shard using [Util.computeShard(locator)](https://github.com/rackerlabs/blueflood/blob/master/blueflood-core/src/main/java/com/rackspacecloud/blueflood/utils/Util.java#L47) class.

Once you compute the shard value, you can check metrics_locator column family for that shard to see if that locator is present.

[2016-12-07 06:22] 42701618 commented on #762
I can find it in metrics_locator column family
SELECT * FROM metrics_locator where column1=xxxx'  allow filtering;
Its key is   120 ?

[2016-12-07 16:45] ChandraAddala commented on #762
I am not sure what happened but if you really want to debug, we can submit a delayed metric for that locator with the collection time corresponding to the time slot you think it wasnt rolled up. That delayed metric should trigger re-roll of that slot.

[2016-12-08 02:34] 42701618 commented on #762
Hi ChandraAddala：
Just now,I find it is rolluping again from Tue Dec 06 2016 05:55:00 GMT+0800 (CST) in metric_5m.
So it break off between Dec 03 2016 16:35:00 GMT+0800 (CST) and Tue Dec 06 2016 05:55:00 GMT+0800 (CST)

[2016-12-08 02:39] ChandraAddala commented on #762
Did you happen to restart ingest nodes on Dec 6th? Jus wondering what might have changed on that day.

[2016-12-08 03:12] 42701618 commented on #762
no

[2016-12-08 06:31] 42701618 commented on #762
I query the metric about at 4 hour ago:
 SELECT key, column1, WRITETIME (value), value FROM metrics_full WHERE key ='xxxxxxxxxxxxxxxxxxxxx' order by column1 desc limit 10;

 key                                                                                                                  | column1       | writetime(value) | value
------------------------------------------------------------------

[2016-12-08 06:32] 42701618 commented on #762
I query the metric about 10minute ago:
SELECT key, column1, WRITETIME (value), value FROM metrics_full WHERE key ='xxxxxxxxxxxxxxxxxxxxx' order by column1 desc limit 10;

 key                                                                                                                  | column1       | writetime(value) | value
--------------------------------------------------------------------

[2016-12-08 06:35] 42701618 commented on #762
compare to the two data,the metric data in metric_5m have not been rolluped again.

[2016-12-09 18:34] ChandraAddala commented on #762
Do you see any exceptions during the rollup process? What about other granularities like 20m, 60m. Also what commit id have you deployed to get an idea of how much recent you code is.

[2016-12-09 18:49] ChandraAddala commented on #762
We are using latest blueflood and rollups are working fine for us. Unless we can narrow down the the definition of the issue, it is hard for us to debug.

So far I understood it as, even though you are ingesting metrics, the data is not getting rolled up. We have to figure out if it happens all the time for all metrics or if it is intermittent and happens with only few of them so as to narrow the

[2016-12-12 09:42] 42701618 commented on #762
there are no exceptions during the rollup process. The version of the code I use is rax-release-v1.0.1956.
 the blueflood configurations I use are default config except  that MAX_LOCATOR_FETCH_THREADS=32
MAX_ROLLUP_READ_THREADS=32 ,MAX_ROLLUP_WRITE_THREADS=32 which are fit for my cassandra.

[2016-12-13 15:52] beerdedfellow opened #765 "graphite-api-blueflood-finder container timing out (empty response)"
Hello Team,

Have a very specific issue here, and was told you may be able to help! For context, I am working on statsd integration with Rackspace Metrics:

https://support.rackspace.com/how-to/integrate-statsd-with-rackspace-metrics/

I'm having no problem with this integration, and am successfully pumping statsd statistics into metrics intake. I can also confirm I can manually pull this data out

[2016-12-13 16:59] wolfdancer commented on #765
FYI - I asked the issue to be created here because I thought it would be best to consolidate issues into one place instead of scattered around the different github projects.

[2016-12-13 20:25] shintasmith commented on #765
@beerdedfellow let me look into this a bit more, maybe test it on my environment. I will get back to you. In the meantime, if you have access to internal irc, we are at #metrics, if you want to ping one of us.

[2016-12-13 20:50] beerdedfellow commented on #765
Thanks Shinta!

I’ll hop into the channel to make troubleshooting efforts easier.

--

Ryan Hutchison, RHCE/CCNA

Enterprise Support Architect

Rackspace Hosting

Direct: (210) 312-4892

Mobile: (210) 452-4349

From: Shinta Smith <notifications@github.com>
Reply-To: rackerlabs/blueflood <reply@reply.github.com>
Date: Tuesday, December 13, 2016 at 2:25 PM
To: rackerlabs/blueflood <blueflood@noreply

[2016-12-15 18:45] #668 closed

[2016-12-16 08:32] 42701618 commented on #762
Hi ChandraAddala:
Last friday,I cleared up all of the data in cassandra,and then ingest the data,and rollup the data.
Today I found that a metric had been rollup but no point ,I query the earliest of this metric in metric_5m
is Sun Dec 11 2016 14:25:00 GMT+0800 (CST).
The following is log:

[2016-12-16 16:15:19,845 +0800] [DEBUG] [pool-18-thread-5] [com.rackspacecloud.blueflood.service.RollupRunna

[2016-12-16 09:25] 42701618 opened #769 "LocatorFetchRunnable waitForRollups"
why is the waitForRollups setted  1000s(about 16 minute) in LocatorFetchRunnable.java?Because the while is loop by !executionContext.doneReading() || !executionContext.doneWriting(), maybe the  executionContext.doneReading() or  executionContext.doneWriting()  finish in 2 minute.

[2016-12-16 16:46] ChandraAddala commented on #762
"No points rollup for locator xxxx" This just means that when it tried to rollup a locator, that locator does not have any data points in metrics_full for that slot. For 5m granularity, slot is a 5m interval that corresponds to the slot number which was scheduled for rollup.

[2016-12-17 04:32] ChandraAddala commented on #769
I have no idea. I am just noticing it now. But I dont think it really waits that long. I just tested it locally, the thread is getting interrupted which causes `InterruptedException`. So it never really waits for 16 mins.

[2017-01-05 12:27] 42701618 opened #773 "Is the data in metrics_state correct?"
select * FROM "DATA".metrics_state  where key=111;

 key | column1           | value
-----+-------------------+---------------
 111 | metrics_1440m,7,A | 1483617238069
 111 | metrics_20m,539,A | 1483617238069
 111 | metrics_240m,44,A | 1483617238069
 111 | metrics_5m,2156,A | 1483616699998
 111 | metrics_5m,2156,X | 1483616699998
 111 | metrics_5m,2157,A | 1483616999534
 111 | metrics_5m,2158,A |

[2017-01-05 16:10] ChandraAddala commented on #773
Yes its normal. If they are same, its an indication that the rollup finished for that slot 2156 and that timestamp is the `collectoinTime` of the last ingested metric corresponding to that slot.

[2017-01-06 01:04] 42701618 commented on #773
thx

[2017-01-06 01:04] #773 closed

[2017-01-10 01:39] 42701618 commented on #762
I found one reason that the value which is *.metrics.com.rackspacecloud.blueflood.service.RollupService.Rejected-Slot-Checks.m1_rate    is greater than 0(about 0.02)

[2017-01-10 17:43] ChandraAddala commented on #762
I am not following you. Can you pls elaborate?

[2017-01-11 02:53] 42701618 commented on #762
The data of metric_5m is delaying when rollup in my blueflood server,then I found one reason that the value of  "*.metrics.com.rackspacecloud.blueflood.service.RollupService.Rejected-Slot-Checks.m1_rate" is greater than 0(about 0.02).

In code ,if the value is greater than 0,  that is to say
 // puts it back at the top of the list of scheduled slots.  When this happens it means that

[2017-01-11 16:26] ChandraAddala commented on #762
If there are too many slots to rollup(usually happens when there are lot of delayed metrics), it rejects them, the slots will be rejected. But there is nothing to worry about them. They will be picked up again later in the next run.

How many is too many? Its controlled by ``MAX_LOCATOR_FETCH_THREADS``.

[2017-01-13 03:12] 42701618 commented on #762
Hi ChandraAddala :
MAX_LOCATOR_FETCH_THREADS =32,  my cpu is 8

[2017-01-26 18:35] jtlisi opened #778 "Health/Status ingest endpoint"
Blueflood doesn't seem to have a good endpoint that ensures it's services are running correctly. Would it be possible to add a healthcheck endpoint to blueflood that returns a 200 and tells which services are active?

[2017-01-30 16:27] usnavi commented on #778
Hi @jtlisi - At Rackspace, we currently do a GET on the  ```/v2.0``` endpoint to detect if the server is up on the particular node.  You could do that across your ingest and query nodes as a temporary solution.  Currently, blueflood doesn't communicate status across nodes, so that would need to be added.

[2017-02-04 10:17] 42701618 opened #781 "com.netflix.astyanax.connectionpool.exceptions.TimeoutException"
Hi team:
When I run the blueflood,sometime the error will happen.
The error is
com.netflix.astyanax.connectionpool.exceptions.TimeoutException: TimeoutException: [host=192.168.1.1(192.168.1.1):9160, latency=10009(10009), attempts=1]org.apache.thrift.transport.TTransportException: java.net.SocketTimeoutException: Read timed out
	at com.netflix.astyanax.thrift.ThriftConverter.ToConnectionPoolExcepti

[2017-02-04 10:21] 42701618 commented on #781
If the error happen,the performance of rollup will descrease.
The blueflood use the Astyanax 1.56.36,however  the newest version of Netflix/astyanax is v3.9.0 .

[2017-02-06 16:03] shintasmith commented on #781
@42701618 , this exception can be caused by many reasons. But generally, it's an indication that your Cassandra cluster is not responding in time (either it is overloaded, or not properly tuned/configured).

What is the size of your Cassandra cluster, your Replication Factor, the version of Cassandra you are using, your rollup configurations (MAX_ROLLUP_READ_THREADS, MAX_ROLLUP_WRITE_THREADS, MAX_

[2017-02-06 19:47] sriharshasingudasu commented on #778
Hi @usnavi. I would like to help with Health check end point if there is something in the road map. It will be like a minor add on.

[2017-02-06 21:15] usnavi commented on #778
@ssing6 - sounds great!  Let's talk detail.  What would be the format of the data returned?  You have an example response?

[2017-02-06 21:45] ssing6 commented on #778
@usnavi This will an optional usage. Like for teams who need a health end point.

When we start the app, in reality app is in running mode. But health says app is down. It is responsibility of the team to change the health status.

Details of change:
- It will be an extra end point "/health" for both Ingest and Query.
[HttpMetricsIngestionServer and HttpMetricDataQueryServer with a new "HealthChec

[2017-02-11 01:43] 42701618 commented on #781
the version of Cassandra is 2.1.2
There are 3 node, one node is used for ingest,two nodes are used for rollup.
MAX_LOCATOR_FETCH_THREADS=32
MAX_ROLLUP_READ_THREADS=32
MAX_ROLLUP_WRITE_THREADS=32

[2017-02-11 01:50] 42701618 commented on #781
iostat -d -x -k 1 100

Device:         rrqm/s   wrqm/s     r/s     w/s    rkB/s    wkB/s avgrq-sz avgqu-sz   await  svctm  %util
xvda              0.00     2.69    0.15    1.58     2.47    17.07    22.63     0.06   31.97   9.92   1.71
xvde              0.02  1722.30   76.99  196.24  2132.42  7674.28    71.78    12.44   45.53   1.77  48.26

Device:         rrqm/s   wrqm/s     r/s     w/s    rkB/s

[2017-03-07 12:44] 42701618 opened #791 "no data in table metrics_locator"
Hi
In my test project,I have ingested metrics for 7 days.The number of metrics is 130 000 in a minute.
After  7 days,the ingest maybe ok, but there is no data in table metrics_locator.The metric_full is still ingested data.Why is no data in table metrics_locator?

I find the thread in my process
ps -mp 7678 -o THREAD,tid,time
USER     %CPU PRI SCNT WCHAN  USER SYSTEM    TID     TIME
bf      12.6

[2017-03-07 12:54] ChandraAddala commented on #791
I data in metrics_locator has a TTL of 7 days. If the data is continuously being ingested, I expect the data to be present in metric_locator table.

We recently fixed an issue with locator cache https://github.com/rackerlabs/blueflood/pull/750 which looks similar to what you are experiencing. Here is the issue https://github.com/rackerlabs/blueflood/issues/748. If you are not using the latest vers

[2017-03-08 05:29] 42701618 commented on #791
the data is continuously being ingested after 7 days,the data  in metric_locator table is nothing.

[2017-03-08 10:53] ChandraAddala commented on #791
Are you using the latest source code?

[2017-03-08 16:10] ChandraAddala commented on #765
@beerdedfellow Sorry it took this long but we had finally fixed the issue. Can you pls take a look at ur end?

[2017-03-09 02:39] 42701618 commented on #791
no,I use  blueflood-rax-release-v1.0.1956 ,I  just merged the fixed code .
before is that:
private static final Cache<String, Boolean> insertedLocators = CacheBuilder.newBuilder().expireAfterAccess(10,
            TimeUnit.MINUTES).concurrencyLevel(16).build();

now is :
private static final Cache<String, Boolean> insertedLocators = CacheBuilder.newBuilder().expireAfterAccess(10,
            TimeU

[2017-03-28 09:40] baolinCloud opened #796 "How to add 95th Percentile calculation"
Is it possible to get the metric_full data, then calculate the 95th Percentile during one day, and rollup  the 95th Percentile into metric_1440?

[2017-04-11 08:28] 42701618 opened #800 "Exception in thread "Excess Enum Table Reader" java.lang.OutOfMemoryError: unable to create new native thread"
Hi team,
When I start the blueflood,the log will show "Exception in thread "Excess Enum Table Reader" java.lang.OutOfMemoryError: unable to create new native thread"

I have tried to modify -Xms，-Xmx，-Xss,and
proc/sys/kernel/pid_max，
/proc/sys/kernel/thread-max，
max_user_process（ulimit -u），
/proc/sys/vm/max_map_count。

but the error  still exist.

thanks

[2017-04-11 12:37] ChandraAddala commented on #800
We removed that thread, as we removed support for enums recently. If you pick the latest, you should not see that error.

[2017-04-11 13:12] 42701618 commented on #800
thanks

[2017-04-11 13:12] #800 closed

[2017-04-17 09:26] 42701618 opened #802 "cassandra cluster"
Hi team:
There are 8 blueflood nodes(3 nodes for ingest and 5 nodes for rollup),and 29 cassandra nodes(9 nodes for ingest and 20 nodes for rollup ).
After running for 24 hour(ingest 2000000metric/minute),I find that 2 canssandra nodes's io are very busy(Disk %busy are nearly 100%),then 1 blueflood node ,rejectedSlotChecks is greater than 0.
Is the load of cassandra cluster  equally？If one node is

[2017-05-04 09:45] basdusee opened #806 "Maven build tests fail on Ubuntu 16.04 with OpenJDK 1.8"
Good morning,

The tests on blueflood masterbranch are not passing on my machine when running mvn test -X integration-test.
[code]
Disabling (commenting out actually) of the  com.rackspacecloud.blueflood.cache.ConfigTtlProviderTest.testConfigTtl_valid and com.rackspacecloud.blueflood.cache.ConfigTtlProviderTest.testConfigTtlForStrings works (of course) and maven finishes the blueflood-core tests w

[2017-05-04 14:48] shintasmith commented on #806
Hi, @basdusee , Blueflood is not officially supported or tested with OpenJDK 8. We use Travis to run our tests and Travis also does not support OpenJDK 8. Have you tried this using OracleJDK 8?

[2017-05-04 17:16] basdusee commented on #806
Hi @shintasmith i just cleared the maven cache, tested it with OracleJDK 8 and got the same thing:

[code]

Before that only green lights, except for a small warning:

[code]

It's the same output as with OpenJDK.

Java version:
[code]

[2017-05-08 14:54] shintasmith commented on #806
@basdusee , I'll look into this. My JDK8 is build 91, a little older. I will update and see if I can reproduce this on MacOS. Thx

[2017-05-08 15:45] shintasmith commented on #806
@basdusee , I'll look into this. My JDK8 is build 91, a little older. I will update and see if I can reproduce this on MacOS. Thx

[2017-05-08 15:50] basdusee commented on #806
@shintasmith Thank you for looking at this issue. Please let me know if you need more info from me.

Could this problem be due to some TTL values in the config file which I forgot to define, or something like that? In the current running Docker blueflood container with JDK 7 the following warnings are in the logs: "2017-05-06 12:34:00 DEBUG ConfigTtlProvider   :129 - No valid TTL entry for granula

[2017-05-08 16:34] shintasmith commented on #806
@basdusee I am unable to reproduce this locally on my box using JDK8u131.

Looking at the code, the Optional is only absent() if ```ttlMapper``` returns null for the granularity and rollupType:

https://github.com/rackerlabs/blueflood/blob/master/blueflood-core/src/main/java/com/rackspacecloud/blueflood/cache/ConfigTtlProvider.java#L126

But ```ttlMapper``` should've been initialized with the prop

[2017-05-08 18:46] shintasmith commented on #504
@menchauser , since https://github.com/rackerlabs/blueflood/releases/tag/blueflood-2.0.0 , JDK8 is the only supported JDK for blueflood.

[2017-05-08 18:46] shintasmith commented on #504
Closing this

[2017-05-08 18:46] #504 closed

[2017-05-08 18:47] shintasmith commented on #340
Closing this. We no longer support string metrics

[2017-05-08 18:47] #340 closed

[2017-05-08 19:14] basdusee commented on #806
@shintasmith You mean IDE as in Eclipse or Netbeans? The repo is on a (virtual) server on our platform, and the "IDE" is now vim. If needed I could install an IDE on it and use X forwarding.

Wait I'm first going to check our server and repo, it's not a very logical error to happen and it's more likely that something local is not right.

[2017-05-09 13:42] shintasmith commented on #806
@basdusee , did you find anything? The test should be populating the TTL mappings properly via the call to ```System.setProperty()``` as I listed in the code above and the ConfigTtlProvider will fetch that from system property (done in the Configuration.java class).

I am not clear why it's failling on your environment.

[2017-05-09 13:56] basdusee commented on #806
@shintasmith Sorry, it was a bit busy over here. I did clone the repo onto another Ubuntu machine (a local VM with a GUI so that makes it possible to use an IDE) and the test run gave the exact same results (failure) so it is almost definately an Ubuntu 16.04 related issue. Didn't got to setting up the IDE yet.

I also ran the tests on a CentOS 7 VM which we had laying around for test purposes, bu

[2017-05-09 14:27] shintasmith commented on #806
@basdusee , I am using Maven 3.2.5. Yesterday, I noticed you were using the latest Maven 3.3.9. I tried Maven 3.3.9 locally and still could not reproduce your issue.

Based on your info on CentOS, my guess is that it's Ubuntu issue. Maybe some default security settings on JDK?

[2017-05-09 14:46] shintasmith commented on #806
@basdusee, I just run the tests on Ubuntu 14.04, using Maven 3.0.5 and OpenJDK 8u101. They are running fine. I am very perplexed!

[2017-05-09 15:08] basdusee commented on #806
@shintasmith Do you have Ubuntu 16.04 somewhere around? I'm also a little bit perplexed myself, it's running fine on anything but Ubuntu 16.04 with JDK8.
Ok, i'm going to deinstall the standard Ubuntu Maven and install the vanilla one from Apache. Maybe Ubuntu added a "feature" to it.

[2017-05-09 15:24] basdusee commented on #806
@shintasmith Nope, I downloaded Maven 3.5.0 from the Apache website and "installed" it (unpacked it). It's very nice with colors in the terminal, but still gives the same error. It's not maven related I think. This is very weird. I'm using the Oracle JDK (not Ubuntu's), the vanilla Maven and still errors...

We can go through with using CentOS by the way, but this is very mysterious. I'll try to f

[2017-05-10 18:08] shintasmith commented on #806
@basdusee , I just got a chance to spin off an Unbuntu 16.04 and I am able to reproduce the issue there. I know what the problem is.

The issue is that the tests run on Ubuntu 16.04 in different order than on my Mac and probably on your CentOS. I don't know why they are in different order. But this causes ```ConfigTtlProvider``` to be initialized prematurely. I'm working on a fix. Thanks!

[2017-05-10 22:26] basdusee commented on #806
@shintasmith Thanks for addressing this issue and fixing it!

[2017-05-11 14:06] shintasmith commented on #806
@basdusee , the fix is on master. Closing this. Thanks!

[2017-05-11 14:06] #806 closed

[2017-05-24 23:56] DanielNi opened #811 "Elasticsearch version"
I asked this in the Google Group, but is there a reason why Blueflood is pinned to Elasticsearch 1.7, and are there any plans to upgrade soon? It's 3 major versions behind at this point.

[2017-05-25 16:02] ChandraAddala commented on #811
We have plans to upgrade ES. We are currently working on upgrading to 2.4.1 and then to 5.0. ES recommends to do it in multiple steps.

https://github.com/rackerlabs/blueflood/pull/808

I dont have any timelines yet but somewhere down the line.

[2017-07-19 08:38] 42701618 opened #814 "metrics_5m lost one data"
Hi :
In metric_full,there is one data at Tue Jul 18 19:39:00 GMT+08:00 2017,but metrics_5m lost one data at 7:35PM.  blueflood'log is following:
![image](https://user-images.githubusercontent.com/16640374/28358060-11019396-6ca0-11e7-90e0-6151cb3887c3.png)
![image](https://user-images.githubusercontent.com/16640374/28358212-9e9c809e-6ca0-11e7-90b5-a506f5021e01.png)

[2017-07-21 01:11] 42701618 commented on #814
hello

[2017-07-21 14:19] shintasmith commented on #814
@42701618 , what version of blueflood are you using? Also, do you see any Write or Read timeout in the blueflood log from rollups?

[2017-07-24 02:18] 42701618 commented on #814
hi

1.

the version of blueflood is blueflood-2.0.0.

2.

NO Write or Read timeout in the blueflood log from rollups

[2017-07-24 03:25] 42701618 commented on #814
select column1,writetime(value)  from metrics_full  where key='*****************' order by column1  ;
1500379620000     1500379697725000  Tue Jul 18 20:07:00 GMT+08:00 2017          Tue Jul 18 20:08:17 GMT+08:00 2017
1500379380000     1500379456720000  Tue Jul 18 20:03:00 GMT+08:00 2017          Tue Jul 18 20:04:16 GMT+08:00 2017
1500379140000     1500379216879000  Tue Jul 18 19:59:00 GMT+08:00 20

[2017-07-24 03:27] 42701618 commented on #814
select column1,writetime(value)  from metrics_5m  where key='*****************' order by column1;
1500378300000     1500378910341001 ->> Tue Jul 18 19:45:00 GMT+08:00 2017        Tue Jul 18 19:55:10 GMT+08:00 2017
1500378000000     1500378600325002 ->> Tue Jul 18 19:40:00 GMT+08:00 2017        Tue Jul 18 19:50:00 GMT+08:00 2017
1500377400000     1500378000306000 ->>	Tue Jul 18 19:30:00 GMT+08:00 2

[2017-07-31 13:00] 42701618 commented on #814
hi @shintasmith

[2017-11-30 00:35] stackedsax commented on #811
Hey there @DanielNi.  I almost have Blueflood working against ES 5.4.2.  The main blocker is that the tests for blueflood-elasticsearch need to be entirely rewritten.  Just seeing if you're still interested in this.

Anecdotally, I also have things running against Cassandra 3.11.1.

[2017-11-30 03:08] DanielNi commented on #811
Thanks for the update @stackedsax. I don't think this is high priority for us anymore.

[2017-12-18 15:56] bmumdluri opened #817 "How to handle rollups when more locators exist for one shard"
I am in a situation where there are 900K+ locators for single shard. LocatorFetchRunnable is fetching all locators of shard and keeping them heap which is hogging entire heap. And Rollup could not be processed for other shards and GC is trying to get back memory resulting in more CPU utilization. What would be the ideal way to face scenario which really large shards?

[2017-12-18 22:48] ChandraAddala commented on #817
Have a separate node which will process only that one rollup shard. This should help un-blocking other shards.

At some point we discussed some ideas about adding pagination so that we dont load the entire list to memory but I dont believe that has been implemented.

[2017-12-19 05:32] bmumdluri commented on #817
That's not an acceptable option if there are many large shards.

[2018-08-01 05:24] LeoAugust19 opened #829 "Dependency conflict issue: Exception in thread "main" java.lang.NoSuchMethodError, caused by multiple versions of com.google.guava:guava:jar"
Hi, @izrik there are multiple versions of **com.google.guava:guava:jar** in **com.rackspacecloud:blueflood-core:jar:2.0.0-SNAPSHOT**. As shown in the following dependency tree, only the newer version 19.0 will be loaded and the other versions will be shadowed, according to "Maven's nearest wins strategy".

However, method **<com.google.common.io.Closeables: void closeQuietly(java.io.Closeable)>**

[2018-08-01 05:25] LeoAugust19 commented on #829
@izrik May I pull a request to fix this issue?

[2018-08-02 16:15] izrik commented on #829
@mritunjaykumar Can you take a look at this?

[2018-08-06 10:52] LeoAugust19 commented on #829
@mritunjaykumar hi, the above information is abtained by static analysis. Do you need further information to confirm it's a bug? I can provide you more.

[2018-08-06 15:56] mritunjaykumar commented on #829
Sorry.. I have been busy with some other issues. I will take a look and will ping you back. :-)

[2018-08-06 16:08] LeoAugust19 commented on #829
@mritunjaykumar hi, do you need further information? I can provide more information such as stack trace or something else to help you investigate the issue. :-)

[2018-08-09 06:05] LeoAugust19 commented on #829
### Stack trace

Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.io.Closeables.closeQuietly(Ljava/io/Closeable;)V
	at org.apache.curator.ConnectionState.close(ConnectionState.java:109)
	at org.apache.curator.CuratorZookeeperClient.close(CuratorZookeeperClient.java:201)
	at org.apache.curator.framework.imps.CuratorFrameworkImpl.close(CuratorFrameworkImpl.java:285)
	at com.

[2018-12-18 08:03] baolinCloud commented on #817
Blueflood can not rollup when there are 10 Million key in metrics_locator. It costs about 1000s to rollup one shard in one slot, which shard has 75000 metric locators. I don know how to solve, the cassandra SSD disk IO persist 90% high.

[2019-01-07 02:49] FDU-SE-LAB opened #831 "Your project rackerlabs/blueflood is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-08-15 11:37] ThirdLibResearch opened #832 "Third-Party Library Version Inconsistencies in your project"
We are currently investigating the usage of different versions of the same third-party library in different modules of a project (i.e., the library version inconsistency problem). It is a non-trivial and time-consuming task to maintain the evolving third-party libraries. In that sense, it seems necessary to harmonize the different versions of the same third-party library in different modules into

[2019-12-07 15:48] #778 closed